@media (min-width:600px){
  header, #content > article {
    padding-left: 5%;
    padding-right: 5%;
  }

  h2 {
  color: hsl(0, 0%, 40%);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

  #mainLogo {
    width: 30.5%;
    vertical-align: top;
  }

  ul {
    list-style-type: circle;
  }

  header > nav {
    display: inline-block;
    margin-top: 4%;
    width: 66%;
  }

  header > nav > ul {
    text-align: left;
    font-size: 110%;
  }

  header > nav > ul > li {
    width: auto;
  }

  header > nav > ul > li > a {
    margin-top: 1em;
    box-shadow: none;
    color: #353434;
    background-image: none;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
    font-weight: normal;
    margin-right: 1.25em;
  }

  #about > #leadership > div {
    display: inline-block;
    width: 43%;
    vertical-align: top;
  }

  #about > #leadership > div:last-child{
    break-after: always;
    clear: right;
  }

  #services > div > section {
    display: inline-block;
    vertical-align: top;
    width: 27.7%;
    font-size: 75%;
  }
}

@media (min-width:735px){
  header, #content > article {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width:870px){
  header, #content > article {
    padding-left: 20%;
    padding-right: 20%;
  }

  #introVideo {
    width: 66.67%;
    vertical-align: top;
  }

  #alt_services {
    display: inline-block;
    width: 28%;
    margin-right: 4%;
    font-size: 85%;
  }
  
  #main_services{
    display: none;
  }

  #testimonials {
    font-size: 100%;
  }

  .rotator .pip{
    font-size: 12pt;
  }
}
