*, :after, :before{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#customer_logos {
  text-align: center;
}

body {
  background-color: #A7B0D8;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #1B1831;
}

img {
  border: 0;
}

img.thumbnail{
  border: solid 1px #657F66;
  cursor: pointer;
}

.icon-management, .icon-data, .icon-engineering, .icon-github, .icon-twitter, .icon-linkedin, .icon-pdf{
  display: inline-block;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 100%;
}

.icon-management, .icon-data, .icon-engineering {
  width: 100px;
  height: 100px;
}

.icon-management{
}

.icon-engineering{
  background-position: 0 -100px;
}

.icon-data{
  background-position: 0 -200px;
}

.icon-linkedin, .icon-twitter, .icon-github, .icon-pdf {
  width: 33px;
  height: 33px;
}

.icon-linkedin{
  background-position: 0 -100px;
}

.icon-twitter{
  background-position: 0 -133px;
}

.icon-github{
  background-position: 0 -165px;
}

.icon-pdf{
  background-position: 0 -198px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

#content > article > a:last-child {
  font-style: italic;
  opacity: 0.75;
}

ul {
  text-align: left;
}

header > nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header > nav > ul > li {
  display: inline-block;
  width: 15%;
}

header, header > nav > ul > li > a {
  width: 100%;
}

header > nav > ul > li > a {
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  color: rgb(247, 247, 247);
  background-image: linear-gradient(176deg, rgba(0, 0, 0, 0.5), rgba(0, 38, 16, 0.25));
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 3px;
}

#introVideo, #introVideo > video, #introVideo > .video {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content .button {
  margin-top: 2em;
  margin-bottom: 2em;
}

#alt_services > .button {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-transform: capitalize;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

h1 {
  margin-top: 1em;
  font-size: 190%;
  color: hsl(0, 0%, 20%);
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  margin-bottom: 1.5em;
  font-size: 100%;
  margin-top:-0.5em;
  color: #393b44;
}

h3 {
  border-bottom: solid 2px rgb(0, 127, 0);
  font-size:115%;
  padding: 0.5em;
}

h4 {
  margin-top: 1em;
}

h4 > a {
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}

#alt_services {
  display: none;
}

article {
  margin: 0;
  padding: 1em;
  display: inline-block;
  width: 100%;
}

article:last-child {
  padding-bottom: 2em;
}


#news > blockquote {
  display: inline-block;
  margin: 0;
}

blockquote > p:before{
  content: open-quote;
}

blockquote > p:after{
  content: close-quote;
}

blockquote > cite {
  color: #657F66;
  display: block;
  padding: 0.5em;
  font-size: 16pt;
}

blockquote > small {
  white-space: nowrap;
  display: block;
  clear: left;
}

#news > blockquote > img {
  margin: 1em;
  min-width: 325px;
  max-width: 33%;
}

blockquote:nth-child(odd) > img {
  float: right;
}

#news > blockquote:nth-child(even) > img {
  float: left;
}

#shadowbox {
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 1em;
  text-align: center;
  transition: opacity 1s ease-out;
}

#shadowbox.hide{
  opacity: 0;
  pointer-events: none;
}

#shadowbox.show {
  opacity: 1;
}

#shadowbox > img{
  max-width: 100%;
  max-height: 100%;
}

@keyframes shadowboxfadein{
  from{
    opacity: 0;
    display: block;
  }
  to{
    opacity: 1;
    display: block;
  }
}

article > section {
  position: relative;
  text-align: center;
  width: 100%;
}

article > section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

#services > section > div {
  min-width: 260px;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  margin-right: 1em;
}

#leadership > div {
  min-width: 300px;
  width: 49%;
}


article > section > div > div {
  color: black;
  padding: 1em;
  text-align: left;
}

#leadership ul {
  list-style: none;
}

#leadership > div > img {
  width: 80%;
  border-radius: 50%;
  margin: 1em 10%;
}

#customer_logos > img {
  width: 100%;
  max-width: 700px;
}

@keyframes footerslideout{
  from{
    margin-bottom: -4.2em;
  }
  to{
    margin-bottom: 0;
  }
}

@keyframes footerslidein{
  from{
    margin-bottom: 0;
  }
  to{
    margin-bottom: -4.2em;
  }
}

footer {
  position: fixed;
  width: 100%;
  border-top: solid 2px white;
  text-align: center;
  font-size: 60%;
  font-weight: bold;
  font-style: italic;
  background-color: #939393;
  color: #f4f4f4;
  bottom: 0;
  padding-top: 0.5em;
  margin-bottom: -4.2em;
  animation-name: footerslidein;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

footer:hover{
  margin-bottom: 0;
  animation-name: footerslideout;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

footer:before{
  content: "+";
  float:left;
  padding-left:1em;
}

footer:hover:before{
  content: "-";
}

.rotator .pip{
  cursor: pointer;
  font-size:24pt;
  margin:0;
  padding:0.25em;
}

.rotator > div {
  text-align: center;
  font-weight: bold;
}

#testimonials {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding-bottom: 1em;
}

label, input, textarea {
  padding:0.75em;
  border: 0;
  font-size: 110%;
  border-radius: 3px;
  width: 100%;
  display: block;
}

input, textarea {
  margin-top: 0;
}

label {
  margin-top: 0.5em;
  padding-bottom: 0;
}

.required:after{
  content:"*";
  color: red;
}

.primary {
  background-color: #00BB27;
  color: rgb(255, 255, 255);
}

a.primary:hover {
  background-color: #15DC3E;
}

a.primary:active {
  background-color: #38AB58;
}

header, article:nth-child(odd){
  color: #413E2D;
}

.secondary, article:nth-child(even){
  background-color: #F1F0A0;
  color: #393B44;
}

a.secondary:hover {
  background-color: #3AD665;
}

a.secondary:active {
  background-color: #D0CF8D;
}

.message{
  padding: 1em;
  background-color: white;
  border-style: dashed;
  border-width: 5px;
  display: none;
}

.message > h4{
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  text-transform: none;
}

.message > p{
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
}

.error.message{
  border-color: red;
}

.error.message > h4{
  color: red;
}

.success.message{
  border-color: green;
}

.success.message > h4{
  color: green;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 30px;
  font-size: 110%;
  font-weight: bold;
  width: 100%;
  border-radius: 3px;
}

.button > small{
  font-weight: normal;
  opacity: 0.85;
}

@media (max-width: 734px){
  header > nav {
    font-size: 17pt;
  }
}

@media (min-width:735px){

  #services > section > div {
    min-width: 200px;
    height: 30em;
    width:  30%;
  }
  nav {
    font-size: 26pt;
  }
}

@media (min-width:870px){

  header, #content > article {
    padding-left: 10%;
    padding-right: 10%;
  }

  #introVideo {
    width: 66.67%;
    vertical-align: top;
  }

  #alt_services {
    display: inline-block;
    width: 28%;
    margin-right: 4%;
    font-size: 85%;
  }

  #main_services{
    display: none;
  }

  .rotator .pip{
    font-size: 12pt;
  }
}
