<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#002610">
    <meta name="theme-color" content="#002610">
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <title>Highland AS: @ViewData["Title"]</title>
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <a id="mainLogoWrapper" href="/"><img id="mainLogo" src="~/images/logo.min.svg" alt="logo" title="Highland AS logo"></a><nav>
            <ul>
                <li><a href="/#services">services</a></li>
                <li><a href="~/support">support</a></li>
                <li><a href="/#about">about</a></li>
                <li><a href="/#customers">clients</a></li>
                <li><a href="~/downloads">resources</a></li>
                <li class="social"><a href="https://www.linkedin.com/company/highland-as-llc/about/" target="_blank" rel="noopener"><span class="icon-linkedin" title="linkedin logo"></span></a></li>
                <li class="social"><a href="https://twitter.com/HighlandAdvSol" target="_blank" rel="noopener"><span class="icon-twitter" title="twitter logo"></span></a></li>
                <li class="social"><a href="https://www.facebook.com/HighlandAS/?eid=ARAUEyvRshz77nWVzQFfYUz-Y7BJBZXyBP1CPatlBtRj_UAdCR3MbFr_xmPcTGlDtLpW8ny0OP1-dEns" target="_blank" rel="noopener"><span class="icon-facebook" title="facebook logo"></span></a></li>
                <li>
                    <a class="secondary button" href="https://calendly.com/melody-mcbeth" target="_blank" rel="noopener" title="Schedule a meeting">
                        Start now
                        |&nbsp;<small>Schedule a conversation!</small>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
</body>
</html>