extends ./templates/main.pug

block content
  article#about
    h1 Contacts
  #output
    h2 [No new contacts]
  script(type="text/javascript").
    window.addEventListener("load", function(){
      var out = document.querySelector("#output");

      function txt(elem, txt, def, pre){
        elem.appendChild(document.createTextNode(txt || def));
        if(elem.tagName === "A" && txt){
          elem.href = pre + txt;
        }
      }

      getObject("/contacts")
        .then(function(contacts){
          if(contacts.length > 0){
            out.innerHTML = "";
            contacts.forEach(function(contact){
              contact.date = Date.parse(contact.date);
            });
            contacts.sort(function(a, b){
              return b.date - a.date;
            });
            contacts.map(function(contact){
              var elem = document.createElement("article"),
                name = document.createElement("h3"),
                company = document.createElement("h4"),
                phone = document.createElement("a"),
                email = document.createElement("a"),
                msg = document.createElement("blockquote"),
                del = document.createElement("button");

              elem.appendChild(name);
              elem.appendChild(document.createTextNode("  email: "));
              elem.appendChild(email);
              elem.appendChild(document.createTextNode("  phone: "));
              elem.appendChild(phone);
              elem.appendChild(msg);
              elem.appendChild(del);

              var title = contact.name;
              if(contact.company){
                title += " - " + contact.company;
              }
              title += " - " + new Date(contact.date).toLocaleDateString();
              txt(name, title);
              txt(email, contact.email, null, "mailto:");
              txt(phone, contact.phone, "no phone number provided.", "tel:");
              txt(msg, contact.description, "no message provided.");

              del.appendChild(document.createTextNode("Delete"));
              del.className = "primary button";
              del.addEventListener("click", function(){
                delObject("/contacts", { data: {
                  name: contact.name,
                  email: contact.email
                }}).then(function(){
                  elem.parentElement.removeChild(elem);
                }).catch(alert.bind(window, "Error while deleting record"));
              }, false);

              return elem;
            }).forEach(out.appendChild.bind(out));
          }
        })
        .catch(console.error.bind(console));
      });
