article#contact
  h3: a(name="contact") Contact Us
  p To get started with Highland FRS today, please let us know a few things about your non-profit organization.
  form#contactForm
    label.required(for="contact_name") Please enter your name.
    input#contact_name(type="text", placeholder="Jane Doe", required )
    label.required(for="contact_email") Please enter an email address where you may be reached.
    input#contact_email(type="email", placeholder="jane.doe@awesomeuniversity.edu", required )
    label(for="contact_phone") Please enter a phone number where you may be reached.
    input#contact_phone(type="tel", placeholder="555-555-5555 ext 215")
    label(for="contact_company") Please enter the name of your organization.
    input#contact_company(type="text", placeholder="The Awesome University of Awesomeness")
    label(for="contact_description") Please describe your organization and project.
    textarea#contact_description(placeholder="We are small, but awesome! We would be even more awesome if...", rows="10")
    button#submitContact.primary.button(type="button", title="Submit form") Drop us a line!
    p Or if you would like to contact us directly:
    ul
      li Email: #[a(href="mailto:info@highlandfrs.com") info@highlandfrs.com]
      li Phone: #[a(href="tel:+0117174146900") 717.414.6900]
      li Twitter: #[a(href="http://www.twitter.com/HighlandFRS", target="_blank") @HighlandFRS]
  #submissionSuccess.success.message
    h4 Thank you, #[span#callbackName]!
    p We've recorded your message in our database and we will be in contact with you as soon as possible. Our business hours are Monday through Friday, 9AM to 5PM, Eastern Daylight Savings Time.
    p If your message is urgent, please contact Melody McBeth at one of the following:
    ul
      li Email: #[a(href="mailto:info@highlandfrs.com") melody.mcbeth@highlandfrs.com]
      li Phone: #[a(href="tel:+0117174146900") 717.414.6900]
  #submissionError.error.message
    h4 Oh no!
    p It seems there was an errrrrrrrrrrrror.
    p If your message is urgent, please contact Melody McBeth at one of the following:
    ul
      li Email: #[a(href="mailto:info@highlandfrs.com") melody.mcbeth@highlandfrs.com]
      li Phone: #[a(href="tel:+0117174146900") 717.414.6900]
  a(href=indexFile + "#top") top