article#customers
  h3: a(name="customers") Customers
  p The professionals at Highland Fundraising Solutions have been able to help many fundraising operations across the US. A few are listed below.
  section#customer_logos
    img(src=fileRoot + "images/clients.jpg", alt="image map", usemap="#clientsMap")
    map(name="clientsMap")
      area(shape="rect", coords="556,516,666,631", href="http://nmwa.org/", title="National Museum of Women in the Arts - Washington, D.C.", alt="logo", target="_blank")
      area(shape="rect", coords="35,666,673,791", href="http://www.brookwood.edu/", title="Brookwood School - Manchester, Massachusetts", alt="logo", target="_blank")
      area(shape="rect", coords="47,517,508,631", href="http://www.tesc.edu/", title="Thomas Edison State College - Trenton, New Jersey", alt="logo", target="_blank")
      area(shape="rect", coords="28,396,451,489", href="http://www.stmaryspdx.org/", title="St. Mary's Academy - Portland, Oregon", alt="logo", target="_blank")
      area(shape="rect", coords="557,396,670,504", href="http://www.riekerinc.com/", title="Rieker, Inc. - Aston, Pennsylvania", alt="logo", target="_blank")
      area(shape="rect", coords="546,276,671,389", href="http://www.mercersburg.edu/", title="Mercersburg Academy - Mercersburg, Pennsylvania", alt="logo", target="_blank")
      area(shape="rect", coords="28,279,527,389", href="http://childrensnational.org/", title="Children's National Foundation - Silver Spring, Maryland", alt="logo", target="_blank")
      area(shape="rect", coords="41,147,317,255", href="http://www.hra.org/", title="Hampton Roads Academy - Newport News, Virginia", alt="logo", target="_blank")
      area(shape="rect", coords="360,146,665,259", href="http://www.mcleanschool.org/", title="The McLean School - Potomac, Maryland", alt="logo", target="_blank")
      area(shape="rect", coords="500,18,674,140", href="http://gru.edu/", title="Georgia Regents University Foundation - Augusta, Georgia", alt="logo", target="_blank")
      area(shape="rect", coords="309,17,451,138", href="http://www.oes.edu/", title="Oregon Episcopal School - Portland, Oregon", alt="logo", target="_blank")
      area(shape="rect", coords="46,48,282,108", href="http://www.marylhurst.edu/", title="Marylhurst University - Marylhurst, Oregon", alt="logo", target="_blank")
  a.primary.button(href=indexFile + "#contact", title="Jump to contact form")
    | People seem to like us!
    br
    small Schedule a meeting and find out why.
  a(href=indexFile + "#top") top