extends ./templates/main.pug

append head
  != identity(pkg.homepage + filename, "Highland AS", "Downloads", pkg.description, pkg.keywords)
  style #mainLogo{display:block;margin:0 auto;width:50%;}

block content

  article#downloads
    h3 Downloads
    script(src= fileRoot + "purchase" + jsExt)

    a(href="/") back
