extends ./templates/main.pug

append head
  != identity(pkg.homepage + filename, "Highland AS", "Events", pkg.description, pkg.keywords)
  style #mainLogo{display:block;margin:0 auto;width:50%;}

block content

  article.events
    h3: a(href="https://www.eventbrite.com/e/development-operations-symposium-central-oklahoma-tickets-54173163390", target="_blank", rel="noopener") Development Operations Symposium - Central Oklahoma

    a(href="https://www.eventbrite.com/e/development-operations-symposium-central-oklahoma-tickets-54173163390", target="_blank", rel="noopener")
      img(src=fileRoot + "images/HAS_logo_Wf" + pngExt, title="Development Operations Symposium - Central Oklahoma", alt="banner")

    p: a(href="https://www.eventbrite.com/e/development-operations-symposium-central-oklahoma-tickets-54173163390", target="_blank", rel="noopener") Join Highland Advancement Solutions for a one-day Operations Symposium!

    p You will learn from speakers who are recognized as leaders in the industry and benefit from their practical knowledge in this interactive learning environment. Whether you are a new or experienced development/advancement professional you will gain from this sharing of practical knowledge through case studies and experiences couched in best practices for your particular nonprofit sector - making this information highly applicable to today&#39;s evolving nonprofit community.
