extends ./templates/main.pug

append head
  != identity(pkg.homepage + filename, "Highland AS", "Home", pkg.description, pkg.keywords)

block content
  include ./templates/intro.pug
  include ./templates/services.pug
  include ./templates/about.pug
  include ./templates/customers.pug

append footer
  != js(fileRoot + "home" + jsExt)
