extends ./templates/main.jade

append head
  +fullTitle("Highland FRS - non-profit fundraising consultancy")
  each file in indexFiles
    script(type="text/javascript", src=fileRoot + file, async, defer)

block content
  include ./intro.jade
  include ./services.jade
  include ./about.jade
  include ./contact.jade
  include ./customers.jade
  include ./news.jade