extends ./templates/main.pug

append head
  != identity(pkg.homepage + filename, "Highland FRS", "Home", pkg.description, pkg.keywords)
  script(src= fileRoot + "home" + jsExt, async, defer)

block content
  include ./templates/intro.pug
  include ./templates/services.pug
  include ./templates/about.pug
  include ./templates/customers.pug
  include ./templates/news.pug
