extends ./templates/main.pug

append head
  +fullTitle("Highland FRS - non-profit fundraising consultancy")
  each file in indexFiles
    script(type="text/javascript", src=fileRoot + file, async, defer)

block content
  include ./intro.pug
  include ./services.pug
  include ./about.pug
  include ./contact.pug
  include ./customers.pug
  include ./news.pug
