extends ./templates/main.pug

append head
  meta(name="google-site-verification" content="z0bPsDHC2k7If2wMXXquK7f9h6axPZ8pEuaAqDNGx0g")
  != identity(pkg.homepage + filename, "Highland AS", "Home", pkg.description, pkg.keywords)

block content
  include ./templates/intro.pug
  include ./templates/services.pug
  include ./templates/about.pug
  include ./templates/customers.pug
  include ./templates/news.pug

append footer
  != js(fileRoot + "home" + jsExt)
