extends ./templates/main.pug

append head
  +fullTitle("Highland FRS - non-profit fundraising consultancy")
  each file in indexFiles
    script(type="text/javascript", src=fileRoot + file, async, defer)

block content
  include ./templates/intro.pug
  include ./templates/services.pug
  include ./templates/about.pug
  include ./templates/contact.pug
  include ./templates/customers.pug
  include ./templates/news.pug
