article#intro
  h1 Answers that fit
  h2 Your institution. Your needs. Your mission.
  #alt_services
    h4 What is Highland FRS?
    p 
      | We are a full-service consultancy serving non-profit organizations. We specialize in database optimization to prepare institutions for capital campaigns and lead/assist with data integrity efforts. We offer a variety of services covering the range of institutional needs for advancement and development.
      a.primary.button(href=indexFile + "#contact", title="Jump to contact form")
        | Get in contact!
        br
        small Find out how HFRS can help your organization
  #introVideo.rotator(data-timeout="5000")
    img.video(src=fileRoot + "images/stock5.png", alt="stock photo", title="Neato!")
    img.video(src=fileRoot + "images/re.png", alt="stock photo", title="What did you get for 13b?")
    img.video(src=fileRoot + "images/anon.png", alt="stock photo", title="Anonymize data for publication")