extends ./templates/main.jade
block head
  script(type="text/javascript", src="/src/requests.js")
  script(type="text/javascript", src="/src/sha512.js")

block content
  article#about
    div
      label(for="username") Name:
      input(type="text", id="name")
    div
      label(for="password") Password:
      input(type="password", id="password")
    #badAuth(style="display:none") Incorrect user name or password. Please try again.
    button#login.primary.button(type="button") Login
  script(type="text/javascript").
    var btn = document.querySelector("#login"),
      user = document.querySelector("#name"),
      pass = document.querySelector("#password"),
      bad = document.querySelector("#badAuth");
    
    function hideBadAuthMsg(){
      bad.style.display = "none";
    }
      
    user.addEventListener("focus", hideBadAuthMsg, false);
    pass.addEventListener("focus", hideBadAuthMsg, false);
    btn.addEventListener("click", function(){
      hideBadAuthMsg();
      sendObjectGetText("/salt", { data: { name: user.value}})
      .then(function(salt){
        return sendObjectGetText("/hash", { data: {
          name: user.value,
          hash: CryptoJS.SHA512(salt + pass.value).toString()
        }});
      }).then((txt)=>{
        var redir = location.search.match(/^\?return=(.+)$/);
        location = redir && redir[1] || "/index.html";
      }).catch((err)=>{
        console.error(err);
        bad.style.display = "block";
        throw err;
      });
    });