article#services
  h3: a(name="services") Services
  p#main_services Highland FRS is a full-service consultancy serving non-profit organizations. We specialize in database optimization to prepare institutions for capital campaigns and lead/assist with data integrity efforts. We offer a variety of services covering the range of institutional needs for advancement and development.
  p Highland FRS serves non-profit institutions of all shapes and sizes. We do the field management "dirty work" so you don't have to.
  section
    div
      span.icon-management(title="management")
      div
        h4 Management
        ul
          li Process analysis
          li Training
          li Interim staffing
    div
      span.icon-data(title="data")
      div
        h4 Data
        ul
          li Data standardization
          li Moves management pipelines
          li Add/sal correction & completion
    div
      span.icon-engineering(title="engineering")
      div
        h4 Engineering
        ul
          li Reporting and business intelligence
          li Software development
          li Rapid application development
  a.primary.button(href=indexFile + "#contact", title="Jump to contact form")
    | ... And much more!
    br
    small No task too big or small.
  a(href=indexFile + "#top") top