extends ./templates/main.jade
block head
  script(type="text/javascript", src="/src/requests.js")

block content
  article#about
    h1 Users
  #output
    h2 [No users (which seems like it should be impossible, so this is probably an error.)]
  style(type="text/css").
    .primary {
        display: inline-block;
        width: auto;
        margin-left: 1em;
        padding: 0.5em;
    }
  script(type="text/javascript").
    var out = document.querySelector("#output");
    
    getObject("/users")
      .then((users) => {
        if(users.length > 0){
          out.innerHTML = "";
          users.map(function(user){
            console.log(user);
            var elem = document.createElement("article"),
              del = document.createElement("button");
            
            elem.appendChild(document.createTextNode(user.name));
            if(user.isLoggedIn){
              elem.appendChild(document.createTextNode(" - Logged in"));
            }
            elem.appendChild(del);

            del.appendChild(document.createTextNode("Delete"));
            del.className = "primary button";
            del.addEventListener("click", function(){
              delObject("/users", { data: {
                name: user.name
              }}).then(function(){
                elem.parentElement.removeChild(elem);
              }).catch(alert.bind(window, "Error while deleting record"));
            }, false);

            return elem;
          }).forEach(out.appendChild.bind(out));
        }
      })
      .catch(console.error.bind(console));