article#intro
  h1 Answers that fit
  h2 Your institution. Your needs. Your mission.
  #alt_services
    h4 What is Highland FRS?
    p
      | We are a full-ser&shy;vice con&shy;sul&shy;tancy ser&shy;ving non-pro&shy;fit or&shy;ga&shy;ni&shy;za&shy;tions. We spe&shy;cial&shy;ize in da&shy;ta&shy;base op&shy;ti&shy;mi&shy;za&shy;tion to pre&shy;pare in&shy;sti&shy;tu&shy;tions for ca&shy;pi&shy;tal cam&shy;paigns and lead/as&shy;sist with data in&shy;teg&shy;ri&shy;ty ef&shy;forts. We of&shy;fer a var&shy;i&shy;e&shy;ty of ser&shy;vi&shy;ces co&shy;ver&shy;ing the range of in&shy;sti&shy;tu&shy;tion&shy;al needs for ad&shy;vance&shy;ment and de&shy;vel&shy;op&shy;ment.
      a.primary.button(href="https://calendly.com/melody-mcbeth", target="_blank", rel="noopener", title="Schedule a meeting")
        | Get in contact!
        br
        small Find out how HFRS can help your organization
  #introVideo.rotator(data-timeout="5000", style="height:374px")
    img.video(src=fileRoot + "images/stock5" + pngExt, alt="stock photo", title="Neato!")
    img.video(src=fileRoot + "images/raisersedge" + pngExt, alt="stock photo", title="What did you get for 13b?")
    img.video(src=fileRoot + "images/anon" + pngExt, alt="stock photo", title="Anonymize data for publication")
