doctype html
html
  head
    mixin callout(title, href)
      .callout(style="display:none") #[= title] (#[a(href=href) read more...])
        a#closeButton(onclick="this.parentElement.style.display='none';") &times;

    != lang("en")
    != viewport(true)
    != webapp("#002610")
    != screenshot("http://www.highlandas.com/images/logo" + jpgExt)
    != twitter("@HighlandFRS")
    != liveReload
    != css(fileRoot + "css/style" + cssExt)
    block head
      script(src=fileRoot + "header" + jsExt, async, defer)
      script(src="https://js.stripe.com/v3/")
  body
    header
      a#mainLogoWrapper(href="/"): img#mainLogo(src=fileRoot + "images/logo" + svgExt, alt="logo", title="Highland AS logo")
      nav
        ul
          li: a(href="/#services") services
          li: a(href="/#about") about
          li: != offsite("https://calendly.com/melody-mcbeth", "contact")
          li: a(href="/#customers") customers
          li: a(href="/#news") news
          li: a(href="/downloads.html") downloads
    section#content
      block content
    footer
      block footer
        | Copyright &copy; Highland AS LLC, 2010 - 2017. Various trademarks held by their respective owners.
    script.
      (function(){
        var lastBoxPromise = Promise.resolve();
        var boxes = document.querySelectorAll(".callout");
        for(var i = 0; i < boxes.length; ++i) {
          lastBoxPromise = lastBoxPromise.then(function(box) {
            var y = -150,
              w = 3000,
              o = 1;

            box.style.top = y + "px";
            box.style.display = "";

            return new Promise(function (resolve, reject){
              var timer = setInterval(function(){
                if(y < 0){
                  y += 2  ;
                  box.style.top = Math.min(0, y) + "px";
                }
                else if(w > 0) {
                  w -= 10;
                }
                else if(o > 0){
                  o -= 0.025;
                  box.style.opacity = o;
                }
                else {
                  clearInterval(timer);
                  box.style.display = "none";
                  resolve();
                }
              }, 10);
            });
          }.bind(window, boxes[i]));
        }
      })();
