article#services
  h3: a(name="services_anchor") Services
  p#main_services Highland FRS is a full-service consultancy serving non-profit organizations. We specialize in database optimization to prepare institutions for capital campaigns and lead/assist with data integrity efforts. We offer a variety of services covering the range of institutional needs for advancement and development.
  p Highland FRS serves non-profit institutions of all shapes and sizes. We do the field management "dirty work" so you don't have to.
  section
    div
      span.icon-management(title="management")
      div
        h4 Management
        ul
          li Process analysis
          li Training
          li Interim staffing
    div
      span.icon-data(title="data")
      div
        h4 Data
        ul
          li Data Standardization
          li Addressee &amp; Salutation Specialists
          li Accessory Module implementation and mitigation
    div
      span.icon-engineering(title="engineering")
      div
        h4 Engineering
        ul
          li Reporting and business intelligence
          li Software integration
  a.primary.button(href="https://calendly.com/melody-mcbeth", target="_blank", rel="noopener", title="Schedule a meeting")
    | ... And much more!
    br
    small Contact us now to schedule an Operations &amp; Data Optimization Report (ODOR)#[sup SM] assessment

  a(href=fileRoot + "index.html#top") top
