article#services
  h3 Services
  p#main_services High&shy;land Ad&shy;vance&shy;ment So&shy;lu&shy;tions as&shy;sists non&shy;profit or&shy;ga&shy;ni&shy;za&shy;tions with data stan&shy;dar&shy;di&shy;za&shy;tion and o&shy;per&shy;a&shy;tion&shy;al needs to ful&shy;fill their mis&shy;sions and serve the grea&shy;ter good.
  section
    div
      span.icon-management(title="management")
      div
        h4 Management
        ul
          li Process analysis
          li Training
          li Interim staffing
    div
      span.icon-data(title="data")
      div
        h4 Data
        ul
          li Data Standardization
          li Addressee &amp; Salutation Specialists
          li Accessory Module implementation and mitigation
    div
      span.icon-engineering(title="engineering")
      div
        h4 Engineering
        ul
          li Reporting and business intelligence
          li Software integration
  a.primary.button(href="mailto:info@highlandas.com", title="Contact us")
    | Start now
    br
    small Contact us directly!

  a(href="#top") top
